<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCRS3owhHuq0SeI0g7qUx73XKFq-Hzfw6o</string>
	<key>GCM_SENDER_ID</key>
	<string>959666485121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FootballAppCoratona</string>
	<key>PROJECT_ID</key>
	<string>koratona-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>koratona-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959666485121:ios:f5e2c8b272a19b7f1d1a80</string>
</dict>
</plist>