<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCEZq9l_wiP2W6maKRLmaMAbnRCt08gxL0</string>
	<key>GCM_SENDER_ID</key>
	<string>728485491932</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.FootballAppCoratona</string>
	<key>PROJECT_ID</key>
	<string>koratona-9791a</string>
	<key>STORAGE_BUCKET</key>
	<string>koratona-9791a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:728485491932:ios:414e2a8f610b7ef0253019</string>
</dict>
</plist>